/* You can add global styles to this file, and also import other style files */
p {
    color: red;
    font-family: "Trebuchet MS", Verdana, sans-serif;
  }

  span {
      color: blue;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      background-color: orangered;
  }
